fastapi
uvicorn[standard]
jinja2
python-multipart
sqlalchemy
requests
python-dotenv
langdetect
notion-client
apscheduler
itsdangerous
httpx[asyncio]
psycopg2-binary
anthropic
instagrapi==2.1.2
Pillow>=8.1.1
pydantic>=2.0.0
